* {
    font-family: monospace;
}

body {
    height: 100vh;
    background: #fdfdfd;
}

h1 {
    /* color: #f52a3b; */
    color: #000;
    text-align: center;
}

.memoryBoard {
    display: flex;
    flex-wrap: wrap;
    width: 375px;
    height: 375px;
    margin: auto;
    perspective: 1000px;
}

img {
    width: 100%;
}

.memoryCard {
    position: relative;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0px 0px 1px 1px #f3f3f3;
}

.memoryCard:active {
    transform: scale(0.97);
    transform: transform 0.2s;
}

.memoryCard.flip {
    transform: rotateY(180deg);
}

.frontFace,
.backFace {
    position: absolute;
    background-color: white;
    backface-visibility: hidden;
}

.frontFace {
    transform: rotateY(180deg);
    -webkit-transform: translateZ(1px);
}

.backFace {
    -webkit-transform: translateZ(2px);
}

button {
    margin: 20px auto;
    display: block;
    padding: 20px;
    font-size: 22px;
}
